




<form method="post" action="https://forms.un-static.com/forms/d7753452222b80e7cc9007cb6d1b03aa492eaf70">
  <input type="text" name="name" placeholder="Entrez votre nom" required>
  <input type="email" name="email" placeholder="Entrez votre e-mail" required>
  <textarea name="message" cols="30" rows="15"></textarea>
  <button type="submit">Envoyer</button>
  <div class="text-center">
    <p><small>(Powered by <a rel="nofollow" href="Un-static Forms">Un-static Forms</a>)</small></p>
  </div>
</form>
